{% extends "layout.html.twig" %}

{% block title %}Description de la Collective{% endblock %}

{% block content %}
    {% set style = collective.typeActivite.IDtypeActivite %}
    <div class="container monContenu ficheCollective actiContainer_{{collective.typeActivite.IDtypeActivite}} ficheCollective">
        <div class="row section">
            <div class="col-md-2">
                <div class="row"><div class="actiIcon_{{style}}"></div></div>
                <div class="row">{{ collective.typeActivite.activiteLibelle }}</div>
            </div>

            <div class="col-md-6">
                <div class="row"><h1>{{collective.collTitre}}</h1></div>
                <div class="row"><p>Objectif : {{collective.objectif.objectifLibelle}}</p></div>
                <div class="row"><p>Secteur : {{collective.objectif.secteur.secteurLibelle}}</p></div>
                
                {% if collective.collDateFin is not null%}
                    <div class="row"><p>Date(s) de la collective: {{collective.collDateDebut}} - {{collective.collDateFin}}</p></div>
                {% else %}
                    <div class="row"><p>Date(s) de la collective: {{collective.collDateDebut}}</p></div>
                {% endif %}
                
                <div class="row observation">Observation : <br />
                    <p>{{collective.collObservations}}</p>
                </div>

            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="actiCartouche_ actiCartouche_{{style}}">
                        encadrant :</br>
                    <h2>{{collective.adherent.prenomAdherent}} {{collective.adherent.nomAdherent}}</h2>
                    </div>
                </div>
                <div class="row actiCartouche_ actiCartouche_{{style}}">
                    difficulté :</br>
                    {% for cotation in cotations %}
                    {% set cotationStyle = cotation.cotation.LibelleCotation %}    
                    <div class="col-md-4 cotationStyle{{cotationStyle}}">
                        <div class="row">{{cotation.cotation.LibelleCotation}}</div>
                        <div class="row ">{{cotation.cotation.valeurCotation}}</div>
                    </div>                    
                    {% endfor %}
                </div>
                {% if collective.collDenivele is not null %}
                <div class="row">
                    <div class="row actiCartouche_ actiCartouche_{{style}}">
                        Denivelé : {{collective.collDenivele}}m
                    </div>
                </div>    
                {% endif %}
                {% if collective.collNbLongueurs is not null %}
                <div class="row">
                    <div class="row actiCartouche_ actiCartouche_{{style}}">
                        Nombre de longueur : {{collective.collNbLongueurs}}
                    </div>
                </div>
                {% endif %}
            </div>

        </div>
        <div class="row section">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <div class="row actiCartouche_ actiCartouche_{{style}}">
                    <div class="row">MATERIEL</div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8 encartMateriel">
                            <div class="row">
                                {% for materiel in listemateriel %}
                                <div class="col-md-6">{{ materiel.TypeMateriel.typeMatLibelle }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-2"></div>


                    </div>
                    <div class="row">materiel texte</div>
                </div>
            </div>

            <div class="col-md-2"></div>

        </div>
        <div class="row section">
            
            <div class="col-md-1"></div>

            <div class="col-md-10">
                <div class="row actiCartouche_ actiCartouche_{{style}}">
                    <div class="row">
                       <div class="col-md-4">resumé</div>
                       <div class="col-md-4">PARTICIPANTS</div>
                       <div class="col-md-4"></div> 
                    </div>

                    <div class="row">
                       <div class="col-md-4">
                           <div class="row">encadrants :</div>
                           <div class="row">encadrant</div>
                           <div class="row">coencadrant</div>
                       </div>
                        <div class="col-md-4">
                           <div class="row">Participants validé :</div>
                           {% for participant in participantValide %}
                               <div class="row"> - {{ participant.adherent.prenomAdherent }} {{ participant.adherent.nomAdherent }}</div>
                           {% endfor %}

                        </div>

                        <div class="col-md-4">
                            <div class="row">Liste d'attente :</div>
                            {% for participant in listeAttente %}
                               <div class="row"> - {{ participant.adherent.prenomAdherent }} {{ participant.adherent.nomAdherent }}</div>
                            {% endfor %}
                        </div> 
                    </div>
                </div>
            </div>

            <div class="col-md-1"></div>

        </div>
        <div class="row section">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">INSCRIPTION</div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="row">rendez-vous :</div>
                        {% for rdv in collective.rdv %}  
                        <div class="row">
                            <input type="radio" name="rdv" value="{{ rdv.heureRDV }}"> {{ rdv.heureRDV }} - {{ rdv.lieu.lieuLibelle }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-5">Commentaire<br />
                        {% if commentForm %}
                            {{ form_start(commentForm) }}
                                <div class="form-group">
                                    {{ form_errors(commentForm.contenu) }}
                                    {{ form_widget(commentForm.contenu, { 'attr':  {
                                        'rows': '4',
                                        'class': 'form-control',
                                        'placeholder': 'entrez un commentaire'
                                    }}) }}
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="envoyer" />
                                </div>
                            {{ form_end(commentForm) }}
                        {% else %}
                            <a href="{{ path('login')}}">Connectez-vous</a> pour ajouter un commentaire 
                        {% endif %}
                    </div>
                    <div class="col-md-1"></div>                
                </div>

                    <div class="row">
                        
                        {% if app.user != collective.adherent %}
                            {% if participantSubmit %}
                                {{ form_start(participantSubmit) }}
                                    <div class="form-group">
                                        {{ form_errors(participantSubmit.IDcollective) }}
                                        {{ form_widget(participantSubmit.IDcollective) }}

                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary btn-lg" value="M'inscrire à cette collective" />
                                    </div>
                                {{ form_end(participantSubmit) }}
                            {% else %}
                                <a href="{{ path('login')}}">Connectez-vous</a> pour pouvoir vous incrire 
                            {% endif %}
                        {% endif %}
                    </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
                    
    <div class="container monContenu">
        <div class="row">Les commentaires</div>
        {% for commentaire in commentaires %}
        <div class="row">
            <div class="col-md-2">{{ commentaire.adherent.prenomAdherent }}</div>
            <div class="col-md-8">{{ commentaire.contenu }}</div>
            <div class="col-md-2">{{ commentaire.comhorodateur}}</div>            
        </div>
        {% endfor %}
    </div>
    
{% endblock %}
