{% extends "layout.html.twig" %}

{% block title %}Description de la Collective{% endblock %}

{% block content %}
    {% set style = collective.typeActivite.IDtypeActivite %}
    <div class="container monContenu ficheCollective actiContainer_{{collective.typeActivite.IDtypeActivite}} ficheCollective">
        <div class="row section description">
            <div class="col-md-2 zoneIcone">
                <div class="row"><div class="actiIcon_ actiIcon_{{style}}"></div></div>
                <div class="row"><p>{{ collective.typeActivite.activiteLibelle }}</p></div>
            </div>

            <div class="col-md-6">
                <div class="row ficheCollectiveDesc actiCartouche_ actiCartouche_{{style}}">
                    <div class="row"><h1>{{collective.collTitre}}</h1></div>
                    <div class="row"><span>Objectif :</span> <p>{{collective.objectif.objectifLibelle}}</p></div>
                    <div class="row"><span>Secteur :</span> <p>{{collective.objectif.secteur.secteurLibelle}}</p></div>

                    {% if collective.collDateFin is not null%}
                        <div class="row"><span>Date(s) de la collective:</span> <p>{{collective.collDateDebut}} - {{collective.collDateFin}}</p></div>
                    {% else %}
                        <div class="row"><span>Date(s) de la collective:</span> <p>{{collective.collDateDebut|localizeddate('full', 'none')}}</p></div>
                    {% endif %}

                    <div class="row observation"><span>Observation :</span> <br />
                        <p>{{collective.collObservations}}</p>
                    </div>
                </div>        
            </div>
            <div class="col-md-4">
                <div class="row actiCartouche_ actiCartouche_{{style}}">
                    
                        encadrant :</br>
                    <h2>{{collective.adherent.prenomAdherent}} {{collective.adherent.nomAdherent}}</h2>
                    
                </div>
                <div class="row actiCartouche_ actiCartouche_{{style}}">
                    difficulté :</br>
                    {% for cotation in cotations %}
                    {% set cotationStyle = cotation.cotation.LibelleCotation %}    
                    <div class="col-md-4 cotationStyle{{cotationStyle}}">
                        <div class="row">{{cotation.cotation.LibelleCotation}}</div>
                        <div class="row">{{cotation.cotation.valeurCotation}}</div>
                    </div>                    
                    {% endfor %}
                    <div data-toggle="tooltip" data-trigger="hover" title="afficher le tableau des cotation" >
                        <button class="lienTableau" data-toggle="modal" data-target="#tableauCotation">?</button>
                    </div>
                    <div class="modal fade" id="tableauCotation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Tableau des cotations</h4>
                                </div>
                                <div class="modal-body">
                                    <img src="{{app.request.basepath}}/img/Cotations-activités-Club-Alpin-de-Pau5.jpg" />
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    
                </div>
                {% if collective.collDenivele is not null %}
                <div class="row row actiCartouche_ actiCartouche_{{style}}">
                        Denivelé : {{collective.collDenivele}}m
                </div>    
                {% endif %}
                {% if collective.collNbLongueurs is not null %}
                <div class="row">
                    <div class="row actiCartouche_ actiCartouche_{{style}}">
                        Nombre de longueur : {{collective.collNbLongueurs}}
                    </div>
                </div>
                {% endif %}
            </div>

        </div>
        <div class="row section materiel">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <div class="row actiCartouche_ actiCartouche_{{style}}">
                    <div class="row"><p><strong><u>Materiel requis</u></strong> pour cette collective</p></div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8 encartMateriel">
                            <div class="row">
                                {% for materiel in listemateriel %}
                                <div class="col-md-6 cartouchePieceMat"> - {{ materiel.TypeMateriel.typeMatLibelle }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-2"></div>


                    </div>
                    <div class="row">
                        <p class="warning1">Pour la sécurité de tous, toute personne n'ayant le matériel requis ne pourra participer à la sortie</p>
                        <p>Le club met du matériel à votre disposition dans le cadre des sorties collectives et des stages qu'il organise. 
                            Le matériel du club n'est pas destiné à une pratique individuelle. Il est à retirer et à rendre par vos soins 
                            aux heures de permanence matériel. plus d’info <a href="http://cafdepau.ffcam.fr/infos.html#materiel">par ici</a>.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2"></div>

        </div>
        <div class="row section participants">
            
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <div class="row participantEncart actiCartouche_ actiCartouche_{{style}}">
                    <div class="row">
                       <div class="col-md-4">resumé</div>
                       <div class="col-md-4"><h4>Participants</h4></div>
                       <div class="col-md-4"></div> 
                    </div>

                    <div class="row">
                       <div class="col-md-3">
                           <div class="row"><u>encadrants</u> :</div>
                           <div class="row">{{collective.adherent.prenomAdherent}} {{collective.adherent.nomAdherent}}</br>
                               {{collective.adherent.adherentNumTel}}</br>
                               {{collective.adherent.MailAdherent}}
                           </div>
                           <div class="row"><u>coencadrant</u></div>
                       </div>
                        <div class="col-md-4 liste">
                            <div class="row"><u>Participants validé</u> :</div>
                            {% for participant in participantValide %}
                                <div class="row CartoucheParticipants">- {{ participant.adherent.prenomAdherent }} {{ participant.adherent.nomAdherent }}
                                {% if app.user == collective.adherent %}
                                    <span data-toggle="tooltip" data-trigger="hover" title="Invalider l'inscription">
                                        <button type="button" class="btn btn btn-danger btn-xs monBoutonRejet pull-right" data-toggle="modal" data-target="#rejetDialogValide{{loop.index}}"><div class="glyphicon glyphicon-remove"></div></button>
                                    </span>
                                    <div class="modal fade" id="rejetDialogValide{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Voulez vous vraiment invalider la participation de l'adherent suivant : {{participant.adherent.prenomAdherent}} {{participant.adherent.nomAdherent}} ?
                                                </div>
                                                <div class="modal-footer">
                                                    <form></form>
                                                    <form id="rejetForm" method="post" action="{{path('desinscription')}}">
                                                        <input type="hidden" name="IDadherent" value="{{participant.adherent.IDadherent}}"  />
                                                        <input type="hidden" name="IDcollective" value="{{collective.IDcollective}}"  />
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    <button  form="rejetForm" type="submit" class="btn btn-danger">Confirmer</button>
                                                    </form>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->

                                    
                                {% endif %}
                                </div>
                           {% endfor %}

                        </div>

                        <div class="col-md-5 liste">
                            <div class="row"><u>File d'attente</u> :</div>
                            {% for participant in listeAttente %}
                                <div class="row CartoucheParticipants"> - {{ participant.adherent.prenomAdherent }} {{ participant.adherent.nomAdherent }}
                                {% if app.user == collective.adherent %}
                                    <span data-toggle="tooltip" data-trigger="hover" title="Invalider l'inscription">
                                        <button type="button" class="btn btn btn-danger btn-xs monBoutonRejet pull-right" data-toggle="modal" data-target="#rejetDialogAttente{{loop.index}}"><div class="glyphicon glyphicon-remove"></div></button>    
                                    </span>
                                    <span data-toggle="tooltip" title="Valider l'inscription">#}
                                        <button type="button" class="btn btn btn-success btn-xs pull-right" data-toggle="modal" data-target="#ValidationDialogAttente{{loop.index}}"><div class="glyphicon glyphicon-ok"></div></button>
                                    </span>

                                    <div class="modal fade" id="ValidationDialogAttente{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Vous allez valider l'inscription de l'adherent suivant : {{participant.adherent.prenomAdherent}} {{participant.adherent.nomAdherent}}.
                                                </div>
                                                <div class="modal-footer">
                                                    <form></form>
                                                    <form id="valideForm" method="post" action="{{path('validerInscription')}}">
                                                        <input type="hidden" name="IDadherentValide" value="{{participant.adherent.IDadherent}}"  />
                                                        <input type="hidden" name="IDcollectiveValide" value="{{collective.IDcollective}}"  />
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    <button  form="valideForm" type="submit" class="btn btn-success">Confirmer</button>
                                                    </form>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->

                                    <div class="modal fade" id="rejetDialogAttente{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Voulez vous vraiment invalider la participation de l'adherent suivant : {{participant.adherent.prenomAdherent}} {{participant.adherent.nomAdherent}} ?
                                                </div>
                                                <div class="modal-footer">
                                                    <form></form>
                                                    <form id="rejetForm" method="post" action="{{path('desinscription')}}">
                                                        <input type="hidden" name="IDadherent" value="{{participant.adherent.IDadherent}}"  />
                                                        <input type="hidden" name="IDcollective" value="{{collective.IDcollective}}"  />
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    <button  form="rejetForm" type="submit" class="btn btn-danger">Confirmer</button>
                                                    </form>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                {% endif %}
                                </div>
                            {% endfor %}
                        </div> 
                    </div>
                    
                    <div class="row warning2">
                        <p>Rappel : Les inscrits sont classé par ordre alphabetique et Une premiere place en liste
                        d'attente ne vous octroie pas automatiquement une validation de la part de l'encadrant.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-2"></div>

        </div>
        <div class="row section inscription">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="row actiCartouche_ actiCartouche_{{style}}">
                            <div  class="row"><p class="warning3">Début des inscriptions à 19h00, une semaine avant la sortie </br> ( sauf deux jours de sortie ou plus)</p></div>
                            <div class="col-md-6">Commentaire : <br />
                            {% if commentForm %}
                                {{ form_start(commentForm) }}
                                    <div class="form-group">
                                        {{ form_errors(commentForm.contenu) }}
                                        {{ form_widget(commentForm.contenu, { 'attr':  {
                                            'rows': '4',
                                            'class': 'form-control',
                                            'placeholder': 'entrez un commentaire'
                                        }}) }}
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" value="envoyer" />
                                    </div>
                                {{ form_end(commentForm) }}
                            {% else %}
                                <a href="{{ path('login')}}">Connectez-vous</a> pour ajouter un commentaire 
                            {% endif %}
                            </div>

                            <div class="col-md-6">
                                {% if participantSubmit %}
                                    {{ form_start(participantSubmit) }}
                                    {% if inscrit == 0 %}
                                        {% if NBrdv > 1 %}
                                            <div class="row">Choisissez un lieu de rendez-vous :</div>
                                        {% else %}
                                            <div class="row">Rendez-vous :</div>
                                        {% endif %}
                                        {% for rdv in collective.rdv %}  
                                        <div class="row">
                                            <input type="radio" name="rdv" value="{{ rdv.lieu.IDlieu}}" {% if loop.index == 1 %}checked="checked"{% endif %}> {{ rdv.heureRDV }} - {{ rdv.lieu.lieuLibelle }}
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="row">

                                    {% if app.user != collective.adherent %}
                                        {% if inscrit == 0 and inscritAlaMemeDate == 0 %}

                                                <div class="form-group">
                                                    {{ form_errors(participantSubmit.IDcollective) }}
                                                    {{ form_widget(participantSubmit.IDcollective) }}

                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" class="btn btn-primary btn-lg" value="M'inscrire à cette collective" />
                                                </div>

                                        {% elseif inscrit == 1 %}
                                            {% if participantActuel.IDetats == 1 %}
                                                <div class="row encartInscription etat{{participantActuel.IDetats}}">
                                                    <p>Vous êtes bien inscrit à cette collective, l'encadrant doit encore
                                                        valider votre candidature.</br>
                                                        Pour rappel, en cas de validation, 
                                                        vous aurez rendez vous le {{collective.collDateDebut|localizeddate('short', 'none')}} 
                                                        à {{participantActuel.heureRDV}} 
                                                        au lieu suivant : {{participantActuel.lieuLibelle}}
                                                    </p>
                                                    
                                                </div>
                                                
                                                <div class="row encartInscription">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#desinscriptionDialog">Me désinscrire de cette collective</button>
                                                </div>
                                                    
                                                <div class="modal fade" id="desinscriptionDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                Voulez vous vraiment vous désinscrire de la sortie collective "{{collective.collTitre}}"?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <form></form>
                                                                <form id="deleteForm" method="post" action="{{path('desinscription')}}">
                                                                    <input type="hidden" name="IDadherent" value="{{app.user.IDadherent}}" />
                                                                    <input type="hidden" name="IDcollective" value="{{collective.IDcollective}}" />
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                                <button  form="deleteForm" type="submit" class="btn btn-danger">Confirmer</button>
                                                                </form>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->
                                            {% else %}
                                                <div class="row encartInscription etat{{participantActuel.IDetats}}">
                                                    <p>Vous êtes bien inscrit à cette collective et l'encadrant a validé
                                                        votre candidature.</br>
                                                        Nous vous donnons rendez vous le {{collective.collDateDebut|localizeddate('short', 'none')}} 
                                                        à {{participantActuel.heureRDV}} 
                                                        au lieu suivant : {{participantActuel.lieuLibelle}}
                                                        N'oubliez pas votre materiel !
                                                    </p>
                                                </div>
                                                <div class="row encartInscription">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#desinscriptionDialog">Me désinscrire de cette collective</button>
                                                </div>
                                                    
                                                <div class="modal fade" id="desinscriptionDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                Voulez vous vraiment vous désinscrire de la sortie collective "{{collective.collTitre}}"?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <form></form>
                                                                <form id="deleteForm" method="post" action="{{path('desinscription')}}">
                                                                    <input type="hidden" name="IDadherent" value="{{app.user.IDadherent}}" />
                                                                    <input type="hidden" name="IDcollective" value="{{collective.IDcollective}}" />
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                                <button  form="deleteForm" type="submit" class="btn btn-danger">Confirmer</button>
                                                                </form>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->

                                            {% endif %}
                                        {% elseif inscritAlaMemeDate == 1 %}
                                            Vous êtes déja inscrit à une autre collective prevue le même jour
                                        
                                            
                                        {% endif %}
                                    {% endif %}
                                    </div>
                                    {{ form_end(participantSubmit) }}
                                {% else %}
                                    <a href="{{ path('fichecollectiveInscription',{'id': collective.IDcollective})}}">Connectez-vous</a> pour pouvoir vous incrire 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>    
        </div>
            
    </div>
    
                    
    <div class="container monContenu actiContainer_">
        <div class="row">Les commentaires</div>
        {% for commentaire in commentaires %}
        <div class="row">
            <div class="col-md-2">{{ commentaire.adherent.prenomAdherent }}</div>
            <div class="col-md-8">{{ commentaire.contenu }}</div>
            <div class="col-md-2">{{ commentaire.comhorodateur}}</div>            
        </div>
        {% endfor %}
    </div>
    
{% endblock %}
