{% extends "layout.html.twig" %}

{% block title %}Description de la Collective{% endblock %}

{% block content %}
    
    <div class="container monContenu">
        <div class="row section">
            <div class="col-md-2">{{ collective.typeActivite.activiteLibelle }}</div>

            <div class="col-md-6">
                <div class="row">{{collective.collTitre}}</div>
                <div class="row">secteur</div>
                <div class="row">date(s)</div>
                <div class="row">Observation :</div>

            </div>
            <div class="col-md-4">
                <div class="row"><h2>{{collective.adherent.prenomAdherent}} {{collective.adherent.nomAdherent}}</h2></div>
                <div class="row">
                    {% for cotation in cotations %}
                    <div class="col-md-3">difficulté {{cotation.cotation.LibelleCotation}}<br />{{cotation.cotation.valeurCotation}}</div>                    
                    {% endfor %}
                </div>
                <div class="row">Denivelé : {{collective.collDenivele}}m</div>
                {% if collective.collNbLongueurs is not null %}
                <div class="row">Nombre de longueur : {{collective.collNbLongueurs}}</div>
                {% endif %}
            </div>

        </div>
        <div class="row section">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <div class="row">MATERIEL</div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="row">
                            {% for materiel in listemateriel %}
                            <div class="col-md-6">{{ materiel.TypeMateriel.typeMatLibelle }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    
                    
                </div>
                <div class="row">materiel texte</div>
            </div>

            <div class="col-md-2"></div>

        </div>
        <div class="row section">

            <div class="col-md-1"></div>

            <div class="col-md-10">

                <div class="row">
                   <div class="col-md-4">resumé</div>
                   <div class="col-md-4">PARTICIPANTS</div>
                   <div class="col-md-4"></div> 
                </div>

                <div class="row">
                   <div class="col-md-4">
                       <div class="row">encadrants :</div>
                       <div class="row">encadrant</div>
                       <div class="row">coencadrant</div>
                   </div>
                    <div class="col-md-4">
                       <div class="row">Participants validé :</div>
                       {% for participant in participantValide %}
                           <div class="row"> - {{ participant.adherent.prenomAdherent }} {{ participant.adherent.nomAdherent }}</div>
                       {% endfor %}
                           
                    </div>
                       
                    <div class="col-md-4">
                        <div class="row">Liste d'attente :</div>
                        {% for participant in listeAttente %}
                           <div class="row"> - {{ participant.adherent.prenomAdherent }} {{ participant.adherent.nomAdherent }}</div>
                        {% endfor %}
                    </div> 
                </div>

            </div>

            <div class="col-md-1"></div>

        </div>
        <div class="row section">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">INSCRIPTION</div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="row">rendez-vous :</div>
                        {% for rdv in collective.rdv %}  
                        <div class="row">{{loop.index}}: {{ rdv.heureRDV }} - {{ rdv.lieu.lieuLibelle }}</div>
                        {% endfor %}
                    </div>
                    <div class="col-md-5">Commentaire</div>
                    <div class="col-md-1"></div>                
                </div>

                <div class="row">JE M'INSCRIS</div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    
{% endblock %}
