{% extends "layout.html.twig" %}

{% block title %}Acceuil{% endblock %}

{% block content %}
    {% for collective in collectives %}
        <div class="container monContenu">
            <div class="row">
                <div class="col-md-2 col-xs-3">activité :{{collective.IDtypeActivite}} </div>

                <div class="col-md-4 col-xs-7">  
                    <div class="row">{{collective.collDateDebut}}</div>
                    <div class="row">{{collective.collTitre}}</div>
                    <div class="row">rdv</div>
                </div>

                <div class="col-md-2 col-xs-6">
                    <div class="row">difficulté</div>
                    <div class="row">{{collective.collDenivele}}m</div>
                </div>

                <div class="col-md-4 col-xs-6">
                    <div class="row">
                        <div class="col-md-6">encadrant : {{collective.IDadherent}}</div>
                        <div class="col-md-6">inscription</div> 
                    </div>

                </div>
            </div>
        </div>
    {% endfor  %}
    

{% endblock %}
