
{% extends "layout.html.twig" %}

{% block title %}Acceuil{% endblock %}

{% block content %}
    
    <div class="container monContenu actiContainer_4">
        <div class="row barreDate"><h4>{{FiltreEntete}} du</h4></div>
        <div class="row">
            <div class="col-md-2 hidden-sm hidden-xs"></div>
            <div class="col-md-1 col-xs-1">
                {% if semaine > semaineActuelle %}
                <a href="{{ path('accueilSemaine', {'semaine' : semaine-1} ) }}"><button class="btn btn-primary" ><span class="glyphicon glyphicon-arrow-left"></span></button></a>
                {% endif %}
            </div>
            <div class="col-md-6 col-xs-10 barreDate">
                {% if FiltreEntete == 'Semaine' %}
                    <h4>{{lundi}} - {{dimanche}}</h4>
                {% elseif FiltreEntete == 'Jour'  %}
                    <h4>{{debut|localizeddate('full', 'none')}}</h4>
                {% elseif FiltreEntete == 'A partir' %}
                    <h4>{{debut|localizeddate('full', 'none')}}</h4>
                {% else %}
                    <h4>{{debut|localizeddate('full', 'none')}} - {{fin|localizeddate('full', 'none')}}</h4>
                {% endif %}
            </div>
            <div class="col-md-1 col-xs-1">
                <a href="{{ path('accueilSemaine', {'semaine' : semaine+1} ) }}"><button class="btn btn-primary" ><span class="glyphicon glyphicon-arrow-right"></span></button></a>
            </div>
            <div class="col-md-2 col-xs-3 pull-right" data-toggle="tooltip" data-trigger="hover" title="Filtre les collectives par periodes ou par activités">
                <button id="buttonfiltre" class="btn btn-primary">
                    Filtres avancés <p class="caret"></p>
                </button>
            </div>
        </div>
                
        <div id="mesfiltres" class="row {{filtreHidden}}">
            {{ form_start(filtreFormView)}}
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
                filtrer par activité :</br>
                {{form_errors(filtreFormView.typeActivite)}}
                {{form_widget(filtreFormView.typeActivite)}}
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
                filtrer par encadrant :</br>
                {{form_errors(filtreFormView.adherent)}}
                {{form_widget(filtreFormView.adherent)}}
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
                filtrer un jour précis :</br>
                {% if is_granted('ROLE_REDACTEUR') %}
                    {{form_errors(filtreFormView.debutPeriode)}}
                    {{form_widget(filtreFormView.debutPeriode, { 'attr' : {  'class' : 'monDebutPeriodeEncadrant' } })}}                                
                {% else %}
                    {{form_errors(filtreFormView.debutPeriode)}}
                    {{form_widget(filtreFormView.debutPeriode, { 'attr' : {  'class' : 'monDebutPeriode' } })}}
                {% endif %}
            </div>
            <div  id="filtreDateFinHidden" class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
                definissez une periode :</br>
                {{form_errors(filtreFormView.finPeriode)}}
                {{form_widget(filtreFormView.finPeriode)}}
            </div>
            <div class="pull-right col-lg-4 col-md-3 col-sm-3 col-xs-6 ValiderFiltre">
                <input type="submit" class="btn btn-primary" value="appliquez le(s) filtre(s)"/>
            </div>
            <div class="hidden-md hidden-sm col-xs-6">
                
            </div>
            {{ form_end(filtreFormView) }}
           
        </div>
    </div>
            
    {% if message %}
        <div class="container monContenu actiContainer_ nocollective"><h3>{{message}}</h3></div>
    {% endif %}
    
    
                
    {% for collective in collectives %}
        
        {% set id = collective.idcollective %}
        {% set style = collective.typeActivite.IDtypeActivite %}
        <div class="container monContenu actiContainer_{{style}}">
            <div class="row">
                <div class="col-md-1 col-xs-3 zoneIcone">
                    <div class="row"><div class="actiIcon_ actiIcon_{{style}}"></div></div>
                    <div class="row"><p>{{ collective.typeActivite.activiteLibelle }}</p></div>
                </div>
                    

                <div class="col-md-5 col-xs-7">  
                    <div class="row">
                        <div class="actiCartouche_ actiCartouche_{{style}}">
                            {% if collective.collDateFin %}
                               {{collective.collDateDebut|localizeddate('none', 'none','null','Europe/Paris','EEEE d MMMM')}}  -  {{collective.collDateFin|localizeddate('none', 'none','null','Europe/Paris','EEEE d MMMM Y')}}
                            {% else %}
                                {{collective.collDateDebut|localizeddate('none', 'none','null','Europe/Paris','EEEE d MMMM Y')}}
                            {% endif %}
                        </div>
                        
                    </div>
                        <div class="row accueilTitre">{{collective.collTitre}}</div>
                        <div class="row accueilSecteur">{{collective.objectif.secteur.secteurLibelle}}</div>
                        <div class="row acceuilRDV">{% for rdv in collective.rdv %} rdv {{loop.index}}: {{ rdv.heureRDV }} - {{ rdv.lieu.lieuLibelle }}<br />{% endfor %}</div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="row actiCartouche_ actiCartouche_{{style}}">
                        {#<div class="" >#}
                            difficulté :<br />
                            {% for cotation in cotations[id] %}
                                {% set cotationStyle = cotation.cotation.LibelleCotation %}
                                <div class="col-md-6 cotationStyle{{cotationStyle}}">
                                    <div class="row">{{cotation.cotation.LibelleCotation}}</div>
                                    <div class="row">{{cotation.cotation.valeurCotation}}</div>
                                </div>
                            {%  endfor %}
                        {#</div>#} 
                    </div>
                    {% if collective.collDenivele != 0 %}
                    <div class="row">
                        <div class="actiCartouche_ actiCartouche_{{style}}">
                            denivelé :{{collective.collDenivele}}m
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="actiCartouche_ actiCartouche_{{style}}">
                                encadrant <h4>{{collective.adherent.prenomAdherent}}</h4> 
                                          <h4>{{collective.adherent.nomAdherent}}</h4>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-xs-6">
                            <div class="row">
                                Nombre d'inscrit : {{participantsValide[id]}}</br >
                            {% if collective.collNbParticipantMax - participantsValide[id] != 0 %}
                            Place restante : {{collective.collNbParticipantMax - participantsValide[id]}}</br >
                            {% else %}
                                <p class="warning1"><strong>complet</strong></p>
                            {% endif %}
                            en file d'attente : {{participantsAttente[id]}}</br >
                            </div>
                            <div class="row">
                                <h5><a href="{{ path('fichecollective',{'id': id} ) }}"><button class="btn btn-info">JE M'INSCRIS</button></a></h5>
                            </div>
                            <div class="row">
                                {% if app.user == collective.adherent %}
                                    <div class="col-md-6">
                                        <a href="{{ path('editionCollective',{'id': id} ) }}"><button class="btn btn-info {#col-md-4 col-md-offset-3#}" data-toggle="tooltip" title="Modifier la collective"><span class="glyphicon glyphicon-pencil"></span></button></a>
                                    </div>
                                    <div class="col-md-6" class="supprWrapper" data-toggle="tooltip" data-trigger="hover" title="Supprimer la collective">
                                        <button type="button" class="btn btn-danger {#col-md-4 col-md-offset-1#}" data-toggle="modal" data-target="#SuppCollDialog{{ collective.idcollective }}"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                    <!-- fenetre modal -->
                                        <div class="modal fade" id="SuppCollDialog{{ collective.idcollective }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel">Confirmation de suppression</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Voulez vous vraiment supprimer la collective "{{ collective.collTitre }}" ?</p>
                                                        <div class="glyphicon glyphicon-warning-sign"> <p><strong>Attention, si vous supprimer cette collective, </br>
                                                            vous ne pourrez plus générer de compte rendu !</strong></p></div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form id="deleteForm-{{ loop.index }}" method="post" action="{{path('CollectiveAsuppr')}}">
                                                            <input type="hidden" name="IDcollAsuppr" value="{{collective.IDcollective}}" />
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        <button  form="deleteForm-{{ loop.index }}" type="submit" class="btn btn-danger">Confirmer</button>
                                                        </form>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->
                                {% endif %}
                            </div>
                        
                        
                        </div> 
                    </div>

                </div>
            </div>            
        </div>
    {% endfor  %}
    

{% endblock %}
