{% extends "layout.html.twig" %}

{% block title %}Acceuil{% endblock %}

{% block content %}
    {% for collective in collectives %}
        
        {% set id = collective.idcollective %}
        
        <div class="container monContenu">
            <div class="row">
                <div class="col-md-2 col-xs-3">activité :{{ collective.typeActivite.activiteLibelle }}</div>

                <div class="col-md-4 col-xs-7">  
                    <div class="row">{{collective.collDateDebut}}</div>
                    <div class="row">{{collective.objectif.objectifLibelle}}</div>
                    <div class="row">{% for rdv in collective.rdv %} rdv {{loop.index}}: {{ rdv.heureRDV }} - {{ rdv.lieu.lieuLibelle }}<br />{% endfor %}</div>
                </div>

                <div class="col-md-2 col-xs-6">
                    <div class="row">difficulté :<br /> {% for cotation in cotations[id] %} {{cotation.cotation.LibelleCotation}} {{cotation.cotation.valeurCotation}}<br />  {%  endfor %}</div>
                    <div class="row">denivelé :{{collective.collDenivele}}m</div>
                </div>

                <div class="col-md-4 col-xs-6">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">encadrant :{{collective.adherent.prenomAdherent}} {{collective.adherent.nomAdherent}}</div>
                        <div class="col-md-6 col-xs-6">inscription nb inscrit : {{participants[id]}} / {{collective.collNbParticipantMax}} 
                        il reste {{(collective.collNbParticipantMax)-(participants[id])}} place
                        <h4><a href="{{ path('fichecollective',{'id': id} ) }}">S'inscrire à cette collective</a></h4>
                        </div> 
                    </div>

                </div>
            </div>
        </div>
    {% endfor  %}
    

{% endblock %}
