<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="favicon.ico"
        <link rel="shortcut icon" href="{{app.request.basepath}}/img/icon/favicon.ico" type="image/x-icon" />
        <link href="{{app.request.basepath}}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{app.request.basepath}}/css/BoostrapTemplate.css" type="text/css" rel="stylesheet">
        <link href="{{app.request.basepath}}/css/selectize.css" type="text/css" rel="stylesheet">
        <link href="{{app.request.basepath}}/css/jquery-ui.css" type="text/css" rel="stylesheet">
        <link href="{{app.request.basepath}}/css/timepicker.css" type="text/css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        
        <title>{% block title %}{% endblock %}</title>  
        
    </head>
    <body id="overrideBootstrap">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-4 col-xs-6">

                        <img src="{{app.request.basepath}}/img/logo.trans.png" />

                    </div>
                    <div class="col-md-4 hidden-xs">

                    </div>
                    <div class="col-md-4 col-xs-6">
                        <ul class="nav navbar-nav boutonconnexion">
                            {% if app.user and is_granted('IS_AUTHENTICATED_FULLY')%}
                                <li class="dropdown">
                                        <a data-toggle="dropdown" href="#">
                                            <span class="glyphicon glyphicon-user"></span>
                                            Bienvenue, {{app.user.username}} !
                                        <p class="caret"></p>
                                        </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('logout') }}">se déconnecter</a></li>
                                        <li><a href="#">creer un compte</a></li>
                                    </ul>
                                </li>
                            {% else %}    
                                <li class="dropdown">
                                        <a data-toggle="dropdown" href="#">
                                            <span class="glyphicon glyphicon-user"></span>
                                            Connexion 
                                        <p class="caret"></p>
                                        </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('login') }}">se connecter</a></li>
                                        <li><a href="#">creer un compte</a></li>

                                    </ul>
                                </li> 
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            
            
            {#<div class="bandeau">                
                <H2>L'agenda des sorties collectives</H2>
                
                <div id="filAriane"><p><a href="{{ path('Acceuil')}}">Accueil</a><a href="">{{fil}}</a></p></div>                
            </div>#}
            
        
        
        
            <div class="navbar navbar-default" role="navigation">
                <!-- Partie de la barre toujours affichée -->
                <div class="navbar-header">
                    <!-- Bouton d'accès affiché à droite si la zone d'affichage est trop petite -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                        <span class="sr-only">Activer la navigation</span>
                        
                        <span>MENU</span>
                    </button>
                    
                </div>
                    <!-- Partie de la barre masquée si la surface d'affichage est insuffisante -->
                    
                <div class="collapse navbar-collapse" id="navbar-collapse-target">
                    <ul class="nav navbar-nav">
                        {% if app.user and is_granted('ROLE_REDACTEUR') %}
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#">Mes Collectives<p class="caret"></p></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('editionCollective',{'id': 0}) }}">CREER UNE NOUVELLE COLLECTIVE</a></li>
                                <li><a href="#">AFFICHER MES COLLECTIVES</a></li>
                                <li><a href="#">SUPPRIMER UNE COLLECTIVE</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <li><a href="{{path('accueil')}}"><span class="glyphicon glyphicon-home" > </span><span> Agenda </span></a></li> 
                        {#<li><a href="#">Calendrier</a></li>                    
                        <li><a href="#">Newsletter</a></li>
                        <li><a href="#">Petites Annonces</a></li>
                        <li><a href="#">Météo</a></li>
                        <li><a href="#">Aide</a></li>#}
                    </ul>    
                </div> 
            </div>    
                    {% block content %}{% endblock %}
        
        </script>
        <script type="text/javascript" src="{{app.request.basepath}}/lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="{{app.request.basepath}}/lib/jquery/jquery-ui.js"></script>
        <script type="text/javascript" src="{{app.request.basepath}}/lib/jquery/timepicker.js"></script>
        <script type="text/javascript" src="{{app.request.basepath}}/lib/jquery/selectize.min.js"></script>
        <script src="{{app.request.basepath}}/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="{{app.request.basepath}}/lib/js/fonctions.js"></script>
        
        
    </body>
</html>
