{% extends "layout.html.twig" %}

{% block title %}Creation et Edition de Collective{% endblock %}

{% block content %}
    
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                <li><a href="#materiel" data-toggle="tab">Materiel</a></li>
                <li><a href="#inscription" data-toggle="tab">Inscription</a></li>
            </ul>
        </div>
    </div>
    
    <div class="tab-content">
        <div class="tab-pane fade in active" id="description">
            <div class="container monContenu actiContainer_{{collective.typeActivite.IDtypeActivite}}">
                <div class="row">DESCRIPTION modification collective</div>
                
                <div class="row">
                    <div col class="col-md-3">
                    {{ form_start(activiteFormView) }}
                        
                        {{ form_label(activiteFormView.typeActivite) }}
                        {{form_errors(activiteFormView.typeActivite)}}
                        {{form_widget(activiteFormView.typeActivite, { attr: { 'class' : 'selectActivite'} } )}}
                        <div id="new_select"></div>
                                
                        
                    </div>
                                
                    <div col class="col-md-4">
                        <div class="row">
                            {{ form_label(activiteFormView.collTitre) }}
                            {{form_errors(activiteFormView.collTitre)}}
                            {{form_widget(activiteFormView.collTitre)}}
                        </div>

                        <div class="row">
                            {{ form_label(activiteFormView.collDateDebut) }}   
                            {{form_errors(activiteFormView.collDateDebut)}}
                            {{form_widget(activiteFormView.collDateDebut)}}
                        </div>
                        <div class="row">                          
                            {{form_errors(activiteFormView.objectif)}}
                            {{form_widget(activiteFormView.objectif)}}
                        </div>
                        
                        

                    </div>
                    <div col class="col-md-5">
                        <div class="row"> 
                            {{form_label(activiteFormView.adherent)}}    
                            {{form_errors(activiteFormView.adherent)}}
                            {{form_widget(activiteFormView.adherent)}}
                        </div>
                        <div class="row">
                            {{form_label(activiteFormView.cotation)}} 
                            {{form_errors(activiteFormView.cotation)}}
                            {{form_widget(activiteFormView.cotation, { attr: { 'class' : 'selectCotation'} } )}}
                            <input type="submit" class="btn btn-primary" value="Ajouter une cotation"/>
                        </div>
                        
                        <div class="row">
                            {% for cotation in cotations %}
                                
                            <div class="col-md-3 xsDiv">{{cotation.cotation.LibelleCotation}}<br />{{cotation.cotation.valeurCotation}}
                                <button type="button" class="btn btn-danger btn-xs" title="Supprimer la cotation" data-toggle="modal" data-target="#SuppCotDialog{{ cotation.cotation.IDcotation }}"><span class="glyphicon glyphicon-remove"></span></button>
                            </div>
                            <div class="modal fade" id="SuppCotDialog{{ cotation.cotation.IDcotation }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                                        </div>
                                        <div class="modal-body">
                                            Voulez vous vraiment supprimer la cotation n° {{ cotation.cotation.IDcotation }}?
                                        </div>
                                        <div class="modal-footer">
                                            <form id="deleteForm-{{ loop.index }}" method="post" action="{{path('CollectiveCotationAsuppr')}}">
                                                <input type="hidden" name="cotationAsuppr" value="{{cotation.cotation.IDcotation}}" />
                                                <input type="hidden" name="IDcollAsuppr" value="{{cotation.IDcollective}}" />
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button  form="deleteForm-{{ loop.index }}" type="submit" class="btn btn-danger">Confirmer</button>
                                            </form>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                            {% endfor %}
                            
                            
                        </div>
                    </div>
                </div>
                
                    <div class="row">
                        boutons
                    </div>
                            
                                <input type="submit" class="btn btn-primary" value="Enregistrer"/>
                    {{ form_end(activiteFormView) }}
            </div>            
        </div>
        
        <div class="tab-pane fade in" id="materiel">
            <div class="container monContenu actiContainer_{{collective.typeActivite.IDtypeActivite}}">
                MATERIEL
            </div>            
        </div>
        
        <div class="tab-pane fade in" id="inscription">
            <div class="container monContenu actiContainer_{{collective.typeActivite.IDtypeActivite}}">
                INSCRIPTION
            </div>            
        </div>
        
    </div><!-- tab-content -->
    
{% endblock %}

